@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5 {
		@apply font-poppins;
	}

	body {
		@apply font-fredoka;
	}

	p,
	span {
		@apply font-roboto;
	}
}

@theme {
	--font-poppins: "Poppins", sans-serif;

	--font-fredoka: "Fredoka", sans-serif;

	--font-roboto: "Roboto", sans-serif;
}
